/* Resetting default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling for body and header */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #ece0e0; /* Soft background color */
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styling */
header {
  background-color: #555;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  color: #fff; /* White text */
  text-align: center;
  padding: 1em 0;
  border-radius: 8px 8px 0 0; /* Rounded top corners */
}

header h1 {
  margin: 0;
  font-size: 2.5em; /* Responsive font size */
}

/* Styling for social media links */
#social-media {
  background-color: #fff; /* White background for social links */
  margin: 20px auto; /* Centering the section */
  padding: 20px;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.social-links {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
}

.social-links li {
  margin-bottom: 10px; /* Space between links */
}

.social-links a {
  display: flex; /* Flexbox for alignment */
  align-items: center; /* Centering icons and text vertically */
  padding: 10px;
  text-decoration: none;
  color: #333; /* Dark text color */
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.social-links a:hover {
  background-color: #f0f0f0; /* Light background on hover */
}

.social-links a i {
  margin-right: 10px; /* Space between icon and text */
}

/* Styling for footer */
footer {
  box-sizing: border-box;
  text-align: center;
  padding: 1em 0;
  background-color: #242323; /* Dark footer background */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  color: #fff; /* White text */
  border-radius: 0 0 8px 8px; /* Rounded bottom corners */
}

/* Responsive design adjustments */
@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 1.8em; /* Smaller font size on mobile */
  }

  .social-links {
    padding: 0.5em; /* Padding adjustment for small screens */
  }

  .social-links a {
    padding: 8px; /* Smaller padding on mobile */
  }
}
